.title{
background:#008700;
}
.chapter li{
font-size:20px;
text-decoration:none;
list-style-type:none;
display:inline-block;
width:24%;
margin:0px 0px;
}
.chapter{
background:#00B100;
margin:0px 0px;
}
.chapter ul{
margin:0px 0px;
padding-left:0px;
}
.news{
background:#168E1F
}
.contact{
font-size:20px;
}